/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/Roboto/RobotoLight/RobotoLight.eot");
    src: url("../fonts/Roboto/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Roboto/RobotoLight/RobotoLight.woff") format("woff"),
    url("../fonts/Roboto/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "DINPro-CondensedRegular"; */
@font-face {
    font-family: "DINPro-CondensedRegular";
    src: url("../fonts/DINPro/DINPro-CondensedRegular/DINPro-CondensedRegular.eot");
    src: url("../fonts/DINPro/DINPro-CondensedRegular/DINPro-CondensedRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/DINPro/DINPro-CondensedRegular/DINPro-CondensedRegular.woff") format("woff"),
    url("../fonts/DINPro/DINPro-CondensedRegular/DINPro-CondensedRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "DINPro-CondensedBlack"; */
@font-face {
    font-family: "DINPro-CondensedBlack";
    src: url("../fonts/DINPro/DINPro-CondensedBlack/DINPro-CondensedBlack.eot");
    src: url("../fonts/DINPro/DINPro-CondensedBlack/DINPro-CondensedBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/DINPro/DINPro-CondensedBlack/DINPro-CondensedBlack.woff") format("woff"),
    url("../fonts/DINPro/DINPro-CondensedBlack/DINPro-CondensedBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
